<div style="text-align:center">
  <form
    [formGroup]="form"
    class="form">
    <div class="input">
      <textarea
        type="text"
        formControlName="textInput"
        class="text-input">
      </textarea>
      <input
        type="file"
        formControlName="fileInput"
        class="file-input"
        (change)="onFileChange($event)"/>
    </div>
    <input
      value="Assemble"
      class="submit"
      type="submit"
      (click)="assemble()">
    <textarea
      type="text"
      formControlName="output"
      class="text-output"></textarea>
  </form>
</div>
